<!doctype html>
<html>
  <head>
    <title>Basic Table in Billion IDR</title>
    <link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
    <style>
      body {
        font-family: Sans-Serif;
      }
    </style>
  </head>
  <body>
    <div>
      <h1>Basic Table in Billion IDR</h1>
      <hr>
      <div id="table"></div>
    </div>
    <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
    <script>
      new gridjs.Grid({
        columns: [
          { id: 'name', name: 'Corporation' },
          { id: 'founded', name: 'Founded' },
          { id: 'business', name: 'Business' },
          { id: 'revenue', name: 'Revenue' },
          { id: 'netincome', name: 'Net Income' },
          { id: 'equity', name: 'Equity' },
          { id: 'debts', name: 'Debts' },
          { id: 'bookvalue', name: 'Book Value' },
        ],
        data: [
          {% for user in users %}
            {
              name: '{{ user.name }}',
              founded: '{{ user.founded }}',
              business: '{{ user.business }}',
              revenue: '{{ user.revenue }}',
              netincome: '{{ user.netincome }}',
              equity: '{{ user.equity }}',
              debts: '{{ user.debts }}',
              bookvalue: '{{ user.bookvalue }}'
            },
          {% endfor %}
        ],
        search: {
          selector: (cell, rowIndex, cellIndex) => [0, 1, 4].includes(cellIndex) ? cell : null,
        },
        sort: true,
        pagination: true,
      }).render(document.getElementById('table'));
    </script>
  </body>
</html>
